*{
	margin: 0;
	padding: 0;
}

main{
	width: 400px;
	height: 400px;
	background: white;
	border: 2px solid black;
	margin: 0 auto;
	overflow: hidden;
}

#con{
	width: 100%;
	height: 400px;
	position: relative;
	top: -100px;
}

.row{
	width: 100%;
	height: 100px;
}

.cell{
	width: 100px;
	height: 100px;
	float: left;
}

.black{
	background: black;
}

aside{
	text-align: center;
}

input{
	margin-top: 20px;
	width: 80px;
	height: 40px;
}

p{
	display: inline-block;
	margin-top: 20px;
	font-weight: bold;
}